# -------------------------
# Python (backend)
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.env
.venv/
env/
venv/

# Py test/coverage
.coverage
.pytest_cache/
htmlcov/

# -------------------------
# Node (frontend)
# -------------------------
node_modules/
dist/
build/
.npm/
.cache/
.next/
out/

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db
*.swp
*.swo

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Env & Config
# -------------------------
*.env
.env.*
